In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
#load the data 
aapl_df = pd.read_csv('AAPL_historical_data.csv')
aapl_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [23]:
# identify the shape of the file
aapl_df.shape

(10998, 9)

In [24]:
# Convert 'Date' column to datetime format
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])
aapl_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [25]:
# Convert 'Date' column to datetime format
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])
# Handle missing values
aapl_df.fillna(method='ffill', inplace=True)
# Outlier removal using IQR method
Q1 = aapl_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']].quantile(0.25)
Q3 = aapl_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']].quantile(0.75)
IQR = Q3 - Q1
aapl_df = aapl_df[~((aapl_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']] < (Q1 - 1.5 * IQR)) |(aapl_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']] > (Q3 + 1.5 * IQR))).any(axis=1)]
# Save cleaned data
aapl_df.to_csv('AAPL_cleaned.csv', index=False)

In [28]:
aapl_df.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,8643.000000,8643.000000,8643.000000,8643.000000,8643.000000,8.643000e+03,8643.0,8643.0
mean,6.207073,6.263974,6.148644,6.207508,5.553688,2.731968e+08,0.0,0.0
std,11.082480,11.175676,10.986929,11.082893,10.169749,1.866110e+08,0.0,0.0
min,0.049665,0.049665,0.049107,0.049107,0.037857,0.000000e+00,0.0,0.0
25%,0.246094,0.251674,0.241071,0.246931,0.204340,1.314096e+08,0.0,0.0
50%,0.394107,0.401786,0.387277,0.394107,0.320919,2.209872e+08,0.0,0.0
75%,6.234821,6.294286,6.157143,6.231429,5.262289,3.763256e+08,0.0,0.0
max,45.647499,45.875000,44.810001,44.994999,42.747753,8.254876e+08,0.0,0.0

In [26]:
aapl_df.shape

(8643, 9)

In [ ]:
# AAPL_Cleaning.ipynb



# Load data
aapl_df = pd.read_csv('AAPL_historical_data.csv')

# Convert 'Date' column to datetime format
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])

# Handle missing values
aapl_df.fillna(method='ffill', inplace=True)

# Replace negative values with zero
aapl_df[['Open', 'Close', 'High', 'Low', 'Volume']] = aapl_df[['Open', 'Close', 'High', 'Low', 'Volume']].apply(lambda x: np.where(x < 0, 0, x))

# Outlier removal using IQR method
Q1 = aapl_df[['Open', 'Close', 'High', 'Low']].quantile(0.25)
Q3 = aapl_df[['Open', 'Close', 'High', 'Low']].quantile(0.75)
IQR = Q3 - Q1
aapl_df = aapl_df[~((aapl_df[['Open', 'Close', 'High', 'Low']] < (Q1 - 1.5 * IQR)) |(aapl_df[['Open', 'Close', 'High', 'Low']] > (Q3 + 1.5 * IQR))).any(axis=1)]

# Save cleaned data
aapl_df.to_csv('AAPL_cleaned.csv', index=False)