In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#load the data 
aapl_df = pd.read_csv('AAPL_historical_data.csv')
aapl_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [4]:
# identify the shape of the file
aapl_df.shape

(10998, 9)

In [6]:
# Convert 'Date' column to datetime format
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])
aapl_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [7]:
#check if there any null value in each columns
aapl_df.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [ ]:
# Handle missing values
aapl_df.fillna(method='ffill', inplace=True)

In [ ]:
#AAPL_historical_data.csv,AMZN_historical_data.csv,GOOG_historical_data.csv,META_historical_data.csv,MSFT_historical_data.csv,NVDA_historical_data.csv,TSLA_historical_data.csv  ther is this raw_analyst_ratings

In [ ]:
# AAPL_Cleaning.ipynb



# Load data
aapl_df = pd.read_csv('AAPL_historical_data.csv')

# Convert 'Date' column to datetime format
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])

# Handle missing values
aapl_df.fillna(method='ffill', inplace=True)

# Replace negative values with zero
aapl_df[['Open', 'Close', 'High', 'Low', 'Volume']] = aapl_df[['Open', 'Close', 'High', 'Low', 'Volume']].apply(lambda x: np.where(x < 0, 0, x))

# Outlier removal using IQR method
Q1 = aapl_df[['Open', 'Close', 'High', 'Low']].quantile(0.25)
Q3 = aapl_df[['Open', 'Close', 'High', 'Low']].quantile(0.75)
IQR = Q3 - Q1
aapl_df = aapl_df[~((aapl_df[['Open', 'Close', 'High', 'Low']] < (Q1 - 1.5 * IQR)) |(aapl_df[['Open', 'Close', 'High', 'Low']] > (Q3 + 1.5 * IQR))).any(axis=1)]

# Save cleaned data
aapl_df.to_csv('AAPL_cleaned.csv', index=False)