In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
amzn_df = pd.read_csv('AMZN_historical_data.csv')
amzn_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1997-05-15,0.121875,0.125000,0.096354,0.097917,0.097917,1443120000,0.0,0.0
1,1997-05-16,0.098438,0.098958,0.085417,0.086458,0.086458,294000000,0.0,0.0
2,1997-05-19,0.088021,0.088542,0.081250,0.085417,0.085417,122136000,0.0,0.0
3,1997-05-20,0.086458,0.087500,0.081771,0.081771,0.081771,109344000,0.0,0.0
4,1997-05-21,0.081771,0.082292,0.068750,0.071354,0.071354,377064000,0.0,0.0

In [32]:
amzn_df.shape

(6846, 9)

In [35]:
# Convert 'Date' column to datetime format
amzn_df['Date'] = pd.to_datetime(amzn_df['Date'])

amzn_df.fillna(method='ffill', inplace=True)
# Handle missing values
amzn_df.fillna(method='ffill', inplace=True)
# Outlier removal using IQR method
Q1 = amzn_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']].quantile(0.25)
Q3 = amzn_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']].quantile(0.75)
IQR = Q3 - Q1
amzn_df = amzn_df[~((amzn_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']] < (Q1 - 1.5 * IQR)) |(amzn_df[['Open', 'Close', 'High', 'Low','Adj Close','Volume','Dividends','Stock Splits']] > (Q3 + 1.5 * IQR))).any(axis=1)]
# Save cleaned data
amzn_df.to_csv('AMZN_cleaned.csv', index=False)

In [36]:
amzn_df.shape

(4151, 9)